<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-title class="title-format">
        <ion-button routerLink="/home">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-title>      
      <ion-button style="margin-right: 25px;" routerLink="/editCard">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <img class="card-img" *ngIf="currentCollection.image" [attr.src]="currentCollection.image" />
    <ion-title class="card-title">
      {{currentCollection.title}}
    </ion-title>
    <ion-text class="total-cards">2 cartões</ion-text>
  </ion-row>
  <ion-item lines="none" *ngFor="let card of cards; let indexCard = index; let firstCard = first;">
    <ion-row class="card-dim">
      <ion-col>
        <ion-card class="front-card" type="button" (click)="flipCard()">
          <p class="card-subtitle">Frente</p>
          <p class="card-body">{{card.front}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>
