.card-img {
  min-width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  opacity : 75%;
  height: 128px;
  display: flex;
}

.card-title{
  margin-top: 15px;
  font-size: 16pt;
  color: rgba(0, 0, 0, 0.75);
}

.card-subtitle{
    margin-left: 15px;
}

.total-cards{
  padding-right: 15px; 
  margin-top: 15px; 
  font-size: 12px;
}

.card-body{
    margin-bottom: 40px;
    font-size: large;
    text-align: center;
}

.front-card{
    display: block;
}

.back-card{
    display: none;
}

ion-card{
    width: 100%;
}
