<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-title class="title-format">
        <ion-button routerLink="/home">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-title>      
      <ion-button style="margin-right: 25px;" routerLink="/editCard">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
      <img class="card-img" src="../../assets/diretivas.jpg">
        <ion-title class="card-title">
          Título {{id}}
        </ion-title>
        <ion-text class="total-cards">2 cartões</ion-text>
        <ion-card class="front-card" type="button" (click)="flipCard()">
          <p class="card-subtitle">Frente</p>
          <p class="card-body">Lorem</p>
        </ion-card>
        <ion-card class="back-card" id="testeVerso">
          <p class="card-subtitle">Verso</p>
          <p class="card-body">Ipsum</p>
        </ion-card>
  </ion-row>

</ion-content>
