<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-row>
      <ion-title class="title-format">
        EDITAR ANOTAÇÕES
      </ion-title>
      <ion-button routerLink="/anotacoes">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-annot></app-annot>
  <ion-row>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Home">
          <!-- mudar dps -->
          <ion-icon name="home-outline" routerLink="/home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Plus">
          <!-- mudar dps -->
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="anotacoes">
          <!-- mudar dps -->
          <ion-icon name="pencil-outline" routerLink="/anotacoes"></ion-icon>
          <ion-label>Notes</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-row>

</ion-content>