<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/anotacoes"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title class="title-format">
        EDITAR ANOTAÇÕES
      </ion-title>
      <ion-button routerLink="/anotacoes">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content><ion-card>
  <ion-row class="ion-align-items-center">
    <ion-col size="auto" class="ion-margin-end">
      <h1>{{notes.title}}</h1>
      <p>{{notes.description}}</p>
    </ion-col>      
  </ion-row>    
</ion-card>
 
   <ion-item>
     <ion-label position="floating">Título</ion-label>
     <ion-input type="text" [(ngModel)]="notes.title"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input type="text" [(ngModel)]="notes.description"></ion-input>
  </ion-item> 

  <ion-button (click)="save()" expand="block">Salvar</ion-button>

</ion-content>