<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title-format">
      ESTUDAR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <p class="current-date">Qui 15/10</p>
  </ion-row>

  <ion-row *ngFor="let colecao of colecoes; let indexCard = index; let firstCard = first;">
    <ion-card>
      <div class="div-img">
        <img class="card-img" src={{colecao.image}} alt="imagem">
      </div>
      <ion-card-header>
        <ion-card-title>{{colecao.title}}</ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
        <p>{{colecao.description}}</p>
      </ion-card-content> -->
      <ion-button routerLink="/review/{{colecao.id}}" color="primary" type="button" size="default">Revisar conteúdo</ion-button>
    </ion-card>
  </ion-row>
</ion-content>

<app-tab-bar></app-tab-bar>



