ion-text{
  margin: 16px 16px;
  font-size: 16pt;
}

.div-img {
  height: 128px;
  display: flex;
}

.card-img {
  width: 100vw;
  max-width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.current-date {
  margin: 16px 16px 8px;
  font-size: 12pt ;
}

ion-card {
  width: 100vw;
  margin: 8px 16px;
  
  ion-card-header {
    padding: 8px 16px;
    ion-card-title {
      font-size: 14pt;
      color: rgba(0, 0, 0, 0.75);
    }
  }

  ion-card-content {
    padding: 0px 16px 8px;
  }

  ion-button {
    margin: 8px 16px 16px;
    font-size: 8pt;
    text-align: center;
  }

}